" -----------------------------------------------------------------------------
"     - Configurations -
" -----------------------------------------------------------------------------

" Generals
let mapleader=" "
set visualbell
set noerrorbells

" Windows
set number
set relativenumber
set scrolloff=8

" Search
set nohlsearch
set incsearch
set ignorecase
set smartcase

" Plugins
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'


" -----------------------------------------------------------------------------
"     - Mappings -
" -----------------------------------------------------------------------------

" Hover
nnoremap <S-k> :action ShowHoverInfo<CR>

" Splits
nnoremap <C-h> :action StretchSplitToLeft<CR>
nnoremap <C-l> :action StretchSplitToRight<CR>
nnoremap <C-j> :action StretchSplitToBottom<CR>
nnoremap <C-k> :action StretchSplitToTop<CR>

" QuickFix list
nnoremap <leader>co :action ActivateProblemsViewToolWindow<CR>
nnoremap <leader>cc :action CloseActiveTab<CR>
nnoremap <leader>] :action GotoNextError<CR>
nnoremap <leader>[ :action GotoPreviousError<CR>

" FuzzyFinder
nnoremap <C-p> :action GotoFile<CR>
nnoremap <leader>fg :action FindInPath<CR>
nnoremap <leader>fb :buffers<CR>

" LSP
nnoremap gD :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gw :action FileStructurePopup<CR>
nnoremap gW :action GotoSymbol<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap <leader>D :action GotoTypeDeclaration<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
vnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>cf :action ReformatCode<CR>

" DAP
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>dl :action EditBreakpoint<CR>
nnoremap <leader>dC :action EditBreakpoint<CR>
nnoremap <leader>dB :action Debugger.RemoveAllBreakpoints<CR>

nnoremap <leader>dc :action Resume<CR>
nnoremap <leader>do :action StepOver<CR>
nnoremap <leader>di :action StepInto<CR>
nnoremap <leader>dO :action StepOut<CR>
nnoremap <leader>dq :action Stop<CR>
nnoremap <leader>dQ :action Stop<CR>
nnoremap <leader>dp :action Pause<CR>
nnoremap <leader>dr :action Rerun<CR>
nnoremap <leader>dR :action com.jetbrains.rider.interactive.csi.StartCSharpInteractive<CR>
nnoremap <leader>ds :action RunToCursor<CR>

" FileExplorer
command Ex NERDTreeToggle
